.explore-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--theme-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

.explore-container {
    padding: 2rem;
}

.search-section {
    margin-bottom: 2rem;
}

.search-info {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.search-tag {
    background-color: #2f2f2f;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.813);
    display: inline-flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wallpaper-masonry {
    width: calc(100% - 40px); /* Account for container padding */
    margin: 0 auto;
    padding: 20px 0;
}

.wallpaper-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wallpaper-column > * {
    width: 100%;
    height: fit-content;
}

.no-results {
    text-align: center;
    color: #666;
    font-size: 1.1rem;
    padding: 2rem;
    grid-column: 1 / -1;
    background: #2f2f2f;
    border-radius: 8px;
    margin: 20px 0;
}

.clear-button {
    background-color: #9f0c0c;
    color: rgba(255, 255, 255, 0.881);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-tag-inner {
    color: var(--theme-color)
}

.clear-button:hover {
    background-color: #ff2222;
}

.clear-button:active {
    transform: scale(0.98);
}

@media (min-width: 768px) {
    .wallpaper-masonry {
        column-count: 3;
        column-gap: 20px;
    }
}

@media (min-width: 1200px) {
    .wallpaper-masonry {
        column-count: 4;
        column-gap: 20px;
    }
}

@media (min-width: 1600px) {
    .wallpaper-masonry {
        column-count: 5;
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .explore-container {
        padding: 1rem;
    }
    
    .explore-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}