.sidebar-container {
    max-width: 280px;
    height: 97vh;
    background-color: var(--foreground);
    box-sizing: border-box;
    margin: 1.5vh 0;
    margin-left: 1.5vh;
    border-radius: 30px;
    padding: 20px 0;
    padding-left: 20px;
}


/* Site Name - Styles */
.site-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}
.site-name:hover {
    cursor: pointer;
}
.site-logo {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.site-title {
    font-size: 1.6rem;
    font-weight: 500;
}
.site-title-right {
    font-weight: 100;
}


