:root {
  --theme-color: rgb(212, 212, 212);
  --background: rgb(33, 33, 33);
  --foreground: rgb(44, 44, 44);
  --color: rgb(234, 234, 234);
  --seekbar: rgb(57, 57, 57);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  color: var(--color);
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}
.snapwalls-container {
  display: flex;
}
.snapwalls-content {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 10px;
}
.snapwalls-content-page-home {
  padding: 0 15px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .snapwalls-content {
    padding: 0;
    padding: 0 10px;
    padding-bottom: 10px;
  }
}